Codigo/flowP4noelia.json
[
    {
        "id": "7ca7dccadc0cc54a",
        "type": "mqtt in",
        "z": "08df17fa120bd84b",
        "name": "",
        "topic": "casa/sensores/temperatura12",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 180,
        "wires": [
            [
                "3734420279ee2af8",
                "7e316f054ec79aef",
                "8a7dc7aa8d8b33fb"
            ]
        ]
    },
    {
        "id": "3734420279ee2af8",
        "type": "ui_gauge",
        "z": "08df17fa120bd84b",
        "name": "",
        "group": "8258fcc0b5221484",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "7e316f054ec79aef",
        "type": "ui_chart",
        "z": "08df17fa120bd84b",
        "name": "",
        "group": "8258fcc0b5221484",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Gráfico Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8a7dc7aa8d8b33fb",
        "type": "debug",
        "z": "08df17fa120bd84b",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "7501412d3af62984",
        "type": "mqtt in",
        "z": "08df17fa120bd84b",
        "name": "",
        "topic": "casa/sensores/humidade12",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 340,
        "wires": [
            [
                "2f43514a727872c2",
                "2ee3e45ef76c5aa4"
            ]
        ]
    },
    {
        "id": "2f43514a727872c2",
        "type": "ui_gauge",
        "z": "08df17fa120bd84b",
        "name": "",
        "group": "8258fcc0b5221484",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "2ee3e45ef76c5aa4",
        "type": "debug",
        "z": "08df17fa120bd84b",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "bb13d06ee999090d",
        "type": "mqtt in",
        "z": "08df17fa120bd84b",
        "name": "",
        "topic": "depuracion12",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "79a1761a14bf3f9e"
            ]
        ]
    },
    {
        "id": "79a1761a14bf3f9e",
        "type": "debug",
        "z": "08df17fa120bd84b",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 240,
        "wires": []
    },
    {
        "id": "f54b29d5432071be",
        "type": "mqtt in",
        "z": "08df17fa120bd84b",
        "name": "",
        "topic": "casa/sensores/temperatura12",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 460,
        "wires": [
            [
                "3e3ce828f362c466"
            ]
        ]
    },
    {
        "id": "3e3ce828f362c466",
        "type": "switch",
        "z": "08df17fa120bd84b",
        "name": "PasoTempTrue_False",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "21",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "21",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 460,
        "wires": [
            [
                "87d66de510fc3122"
            ],
            [
                "e4690722542e14d2"
            ]
        ]
    },
    {
        "id": "87d66de510fc3122",
        "type": "change",
        "z": "08df17fa120bd84b",
        "name": "Cambio a True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 400,
        "wires": [
            [
                "9fcfbedb92ce2461"
            ]
        ]
    },
    {
        "id": "e4690722542e14d2",
        "type": "change",
        "z": "08df17fa120bd84b",
        "name": "Cambio a False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 520,
        "wires": [
            [
                "9fcfbedb92ce2461"
            ]
        ]
    },
    {
        "id": "9fcfbedb92ce2461",
        "type": "rbe",
        "z": "08df17fa120bd84b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1310,
        "y": 460,
        "wires": [
            [
                "1dc3bec0630bf2f8",
                "4f8e33677c0779b1"
            ]
        ]
    },
    {
        "id": "1dc3bec0630bf2f8",
        "type": "mqtt out",
        "z": "08df17fa120bd84b",
        "name": "",
        "topic": "casa/actuadores/rele12",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 1490,
        "y": 420,
        "wires": []
    },
    {
        "id": "4f8e33677c0779b1",
        "type": "debug",
        "z": "08df17fa120bd84b",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 500,
        "wires": []
    },
    {
        "id": "338701ef398cc296",
        "type": "ui_switch",
        "z": "08df17fa120bd84b",
        "name": "",
        "label": "rele12",
        "tooltip": "",
        "group": "46a07a740cadf472",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 60,
        "wires": [
            [
                "305ae6b40db9f02f"
            ]
        ]
    },
    {
        "id": "305ae6b40db9f02f",
        "type": "mqtt out",
        "z": "08df17fa120bd84b",
        "name": "",
        "topic": "casa/actuadores/rele12",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "43c6d6fc24ad7b6d",
        "type": "mqtt-broker",
        "name": "mi_mosquitto_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8258fcc0b5221484",
        "type": "ui_group",
        "name": "TemperaturaHumidade",
        "tab": "238e347bd1b7da0d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "46a07a740cadf472",
        "type": "ui_group",
        "name": "RGB",
        "tab": "903fa3e2969e67a7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "238e347bd1b7da0d",
        "type": "ui_tab",
        "name": "Practica4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "903fa3e2969e67a7",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]